/* Raleway Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.font-raleway{
  font-family: "Raleway", sans-serif;
}

.font-montserrat{
  font-family: "Montserrat", sans-serif;
}

.bus-btn{
  border: 2px solid #1dd10066;
  padding: 16px 30px 16px 30px;
  border-radius: 12px;
  background-color: #1DD1001A;
}

.hero-btn{
  border-radius: 12px;
  background: rgb(29, 209, 0);
  color: black;
  padding: 20px 30px;
}

.coupon-btn{
  margin-top: 20px;
  border: 2px solid #1dd10066;
  padding: 16px 30px 16px 30px;
  border-radius: 12px;
  margin-bottom: 40px;
}

