/* Raleway Font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Montserrat Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.font-raleway{
  font-family: "Raleway", sans-serif;
}

.font-montserrat{
  font-family: "Montserrat", sans-serif;
}

.bus-btn{
  border: 2px solid #1dd10066;
  padding: 16px 30px 16px 30px;
  border-radius: 12px;
  background-color: #1DD1001A;
}

.hero-btn{
  border-radius: 12px;
  background: rgb(29, 209, 0);
  color: black;
  padding: 20px 30px;
}

.coupon-btn{
  margin-top: 20px;
  border: 2px solid #1dd10066;
  padding: 16px 30px 16px 30px;
  border-radius: 12px;
  margin-bottom: 40px;
}

.ticket{
  margin: 0 30px;
  padding: 5% 10%;
  box-sizing: border-box;
  border-top: 2px solid rgb(29, 209, 0);
  border-radius: 88px 88px 0px 0px;
  background: rgb(247, 248, 248);
}

.ticket-title{
  border-radius: 12px;
  background: rgb(255, 255, 255);
  padding: 20px 12px;
}

.seat-btn{
  border: 2px solid #1dd10066;
  padding: 10px 20px 10px 20px;
  border-radius: 12px;
  background-color: #1DD1001A;
}

.contact-info{
  margin-top: 20px;
  border-radius: 15px;
  background: rgb(247, 248, 248);
  padding: 20px 20px 24px 24px;
}

.ticket-btn{
  font-size: 14px;
  border-radius: 12px;
  background: rgba(3, 7, 18, 0.05);
  padding: 10px 20px;
}

.seat{
  border-radius: 24px;
  background: rgb(255, 255, 255);
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.btn{
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.btn-green {
  background-color: #008A00;
  color: #fff;
}
